<md-content>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Tabs">
			<md-content>
				<h2 class="md-display-2" style="margin-top:10px;">Operating Tabs</h2>
				<ul class="md-subhead">
					<li><p>"Open a new tab"</p></li>
					<li><p>"Open facebook in a new tab"</p></li>
					<li><p>"Close this tab"</p></li>
					<li><p>"Close my github tab"</p></li>
				</ul>
			</md-content>
		</md-tab>
		<md-tab label="Searching">
			<md-content>
				<h2 class="md-display-2" style="margin-top:10px;">Searching</h2>
				<ul class="md-subhead">
					<li><p>"Search for Angus McLean"</p></li>
					<li><p>"Google fast and furious"</p></li>
				</ul>
			</md-content>
		</md-tab>
		<md-tab label="Input">
			<md-content>
				<h2 class="md-display-2" style="margin-top:10px;">Clicking and Typing</h2>
				<ul class="md-subhead">
					<li><p>"Open a new tab"</p></li>
					<li><p>"Open facebook in a new tab"</p></li>
					<li><p>"Close this tab"</p></li>
					<li><p>"Close my github tab"</p></li>
				</ul>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>
