<md-content>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Tabs">
			<md-content>
				<h2 class="md-display-2" style="margin-top:10px;">Operating Tabs</h2>
				<ul class="md-subhead">
					<li><p>"Open a new tab"</p></li>
					<li><p>"Open facebook in a new tab"</p></li>
					<li><p>"Close this tab"</p></li>
					<li><p>"Close my github tab"</p></li>
				</ul>
			</md-content>
		</md-tab>
		<md-tab label="Searching">
			<md-content>
				<h2 class="md-display-2" style="margin-top:10px;">Searching</h2>
				<ul class="md-subhead">
					<li><p>"Search for Angus McLean"</p></li>
					<li><p>"Google fast and furious"</p></li>
				</ul>
			</md-content>
		</md-tab>
		<md-tab label="Input">
			<md-content>
				<h2 class="md-display-2" style="margin-top:10px;">Clicking and Typing</h2>
				<ul class="md-subhead">
					<li><p>"type AI browser is awesome in the search field"</p></li>
					<li><p>"Enter what's up my friend? in the message field"</p></li>
					<li><p>"Click on home"</p></li>
					<li><p>"Click on the notifications button"</p></li>
					<li><p>** Clicking needs more data so <a ui-sref="train">help out!</a> **</p></li>
				</ul>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>
