<md-content layout-padding layout="column" layout-align="center center">
	<div layout="row">
		<div layout="column" layout-align="center center">

			<h1>Make AI Browser Smarter</h1>
			Type what you would like to say then show me how to do it!
			<div layout="row">
				<md-input-container style="width:350px;">
					<label>AI Action</label>
					<input ng-model="query" class="md-block">
				</md-input-container>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="space-around center" style="width:90%;">
		<div layout="column" layout-align="center center">
			<md-button class="md-fab" aria-label="Eat cake">
				<md-icon ng-hide="demoing" ng-click="startDemo()" class"avatar md-raised" md-font-set="material-icons">lightbulb_outline</md-icon>
				<md-icon ng-hide="!demoing" ng-click="stopDemo()" class"avatar md-raised" md-font-set="material-icons">done</md-icon>
			</md-button>
			{{demoMessage}}
		</div>
		<!-- <div layout="column" layout-align="center center">
			<md-switch ng-model="continuous" aria-label="Continuous Input">
				Continuous Mode
			</md-switch>
		</div> -->
	</div>
</md-content>
